{% extends 'base.html' %}
{% block title %}ArteContigo - Cambiar Contraseña{% endblock %}
{% block content %}


<h1>Cambiar Contraseña</h1>
<br/><br/>

<div class="form-group">
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}

        
        <h4>Recomendaciones de Contraseña</h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Su contraseña no puede asemejarse tanto a su otra información personal.</li>
            <li class="list-group-item">Su contraseña debe contener al menos 8 caracteres.</li>
            <li class="list-group-item">Su contraseña no puede ser una clave utilizada comúnmente.</li>
            <li class="list-group-item">Su contraseña no puede ser completamente numérica.</li>
        </ul>
        <br/>
		<button class="btn btn-secondary" type="submit">Cambiar contraseña</button>
    <br/><br/>

</div>


{% endblock %}