{% extends 'base.html' %}
{% block title %}ArteContigo - Recuperar Contraseña{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Recupera tu contraseña</h1>

<h4>Introduce el correo asociado a tu cuenta:</h4>
<br/><br/>

<div class="form-group">
	<form method="post">
        {% csrf_token %}
		{{ password_form|crispy }}
        <br/>
		<button class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
        <button class="btn btn-secondary" type="submit">Cancelar</button>
		<button class="btn btn-secondary" type="submit">Buscar</button>
    <br/><br/>

</div>


{% endblock %}